<div class="row">
  <div class="col-12 col-md-6">
    <h1 class="mb-5 mt-3">
      <strong><i class="bi bi-check2-circle"></i>"Launch Your Career with<br />
      Confidence."</strong>
    </h1>
    <img src="/images/office-girl.jpg" class="img-fluid" alt="" />
  </div>
  <div
    class="col-12 col-md-6"
    style="
      background: rgb(241, 224, 224);
      border: 5px solid #0a3535;
      border-radius: 20px;
    "
  >
    <h3 class="text-success mt-3">
      <strong><i class="bi bi-journal"></i><b> Register</b></strong>
    </h3>
    <form action="/users/create" method="post" class="mt-5 mb-5">
      <div class="mb-3">
        <label for="name" class="form-label"
          ><i class="bi bi-person"></i><strong><b> Name</b></strong></label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label"
          ><i class="bi bi-envelope"></i><strong><b> Email address</b></strong></label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="abc@email.com"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"
          ><i class="bi bi-upc-scan"></i><b><strong> Password</b></strong></label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"
          ><i class="bi bi-upc-scan"></i><b><strong> Confirm Password</b></strong></label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          name="confirmPassword"
          placeholder="Confirm your password"
          required
        />
      </div>
      <p class="text-dark">
      <b><strong>Already have an account?   </b></strong>
        <a href="/users/signin" class="my-form-redirection"><b><strong>Sign-In</b></strong></a>
      </p>
      <button type="submit" class="btn btn-success"><b><strong>Register</b></strong></button>
    </form>
  </div>
</div>
